<h3>Buscar pregunta</h3>
<br/>
<p> Si desea filtrar las preguntas que aparecen introduzca el texto a encontrar y pulse BUSCAR </p>
<br/>
<form id="buscador" method="get" action="/quizes">
   Texto a buscar <input type="text" max-lenght=30 id="search" name ="search"/> <br/>
   <br/>
   <input type ="submit" value ="BUSCAR"/>
</form>
<br/><br/>
<h4>Listado de Preguntas</h4>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
  <% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

